
/*Login Empresa*/
.EmpresaLogin {
  padding-top: 5rem;
  max-width: 30rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
  background: var(--text-color);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
}

.EmpresaLogin h1 {
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}

.EmpresaLogin form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.EmpresaLogin .group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.EmpresaLogin label {
  color: var(--secondary-color);
  font-weight: bold;
}

.EmpresaLogin input {
  padding: 0.625rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
  font-size: 1rem;
}

.EmpresaLogin input:focus {
  outline: none;
  border-color: var(--terciary-color);
}

.EmpresaLogin .button-container {
  display: flex;
  gap: 0.625rem;
  margin-top: 1.25rem;
}

.EmpresaLogin button {
  flex: 1;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

#login-btn {
  background: var(--terciary-color);
  color: var(--text-color);
}

#cancelar-login-btn {
  background: var(--secondary-color);
  color: var(--text-color);
}

#login-btn:hover {
  background: var(--hover-color);
}

#cancelar-login-btn:hover {
  background: var(--hover-color2);
  color: var(--text-color);
}



.CandidatoLogin {
  padding-top: 5rem;
  max-width: 30rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
  background: var(--text-color);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
}

.CandidatoLogin h1 {
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}

.CandidatoLogin form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.CandidatoLogin .group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.CandidatoLogin label {
  color: var(--secondary-color);
  font-weight: bold;
}

.CandidatoLogin input {
  padding: 0.625rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
  font-size: 1rem;
}

.CandidatoLogin input:focus {
  outline: none;
  border-color: var(--terciary-color);
}

.CandidatoLogin .button-container {
  display: flex;
  gap: 0.625rem;
  margin-top: 1.25rem;
}

.CandidatoLogin button {
  flex: 1;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

#login-btn {
  background: var(--terciary-color);
  color: var(--text-color);
}

#cancelar-login-btn {
  background: var(--secondary-color);
  color: var(--text-color);
}

#login-btn:hover {
  background: var(--hover-color);
}

#cancelar-login-btn:hover {
  background: var(--hover-color2);
  color: var(--text-color);
}



